.containerForm{
    width: 400px;
    margin: 0 auto;
    background-color: hsla(223, 36%, 13%, 1)
    ;
    padding: 32px;
    margin-top: 187px;
}

.input {
    border: none;
    border-bottom: solid 1px hsla(223, 23%, 46%, 0.5);
    background-color: inherit;
    width: 100%;
}

.form > * {
    margin-bottom: 20px;
}

.h3 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin-bottom: 40px;
    color: white;
}

.input {
    color: white;
}

.input:placeholder-shown {
    padding-bottom: 17px;
    padding-left: 16px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
}

.containerPSpan {
    display: flex;
    justify-content: center
}



.p {
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;

    color: white;
}

.span {
    color : #FC4747;
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
}

.error {
    color :#FC4747;
}

.passwordInputWrapper {
    /* Styles pour le wrapper du champ de mot de passe et du bouton de bascule */
    display: flex;
    align-items: center;
    position: relative; /* Permet de positionner le bouton par rapport à l'input */
  }
  
  .showHideButton {
    /* Styles pour le bouton de bascule (afficher/masquer mot de passe) */
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .showHideIcon {
    /* Styles pour l'icône SVG */
    width: 20px;
    height: 20px;
    fill: #444; /* Couleur de l'icône */
  }