.containerMovieTrending {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  column-gap: 2.5rem;
}

.containerMovieTrending::-webkit-scrollbar {
  border-radius: 10px;
  height: 8px;
  width: 8px;
}

.containerMovieTrending::-webkit-scrollbar-thumb:horizontal {
  background: #5a698f; 
    border-radius: 10px;
}

.containerRecommended {
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  gap: 20px;
}

.h3 {
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.312px;
  color: white;
  margin: 24px 16px;
}

.containerMedia {
  min-width: 800px;
  padding: 1.5rem 1rem;
}


@media screen and (min-width: 565px) {
  .containerRecommended {
    grid-template-columns: repeat(3, 0.1fr);
  }
}

@media screen and (min-width: 780px) {
  .containerRecommended {
    grid-template-columns: repeat(4, 0.1fr);
  }
}

@media screen and (min-width: 935px) {
  .containerRecommended {
    grid-template-columns: repeat(5, 0.1fr);
  }
}


@media screen and (min-width: 1000px) {

  .containerMedia {
    margin-left: 8rem;
  }

  .h3 {
    font-size: 32px;
  }

  .containerRecommended {
    grid-template-columns: repeat(3, 0.1fr);
    gap: 80px;
  }

  

  .container {
    display: grid;
    grid-template-columns: auto 1fr;
  }



}


@media screen and (min-width: 1305px) {

  .containerRecommended {
    grid-template-columns: repeat(4, 0.1fr);
  }

}


@media screen and (min-width: 1750px) {

  .containerMedia {
    margin-left: unset;
  }
 

  .containerRecommended {
    grid-template-columns: repeat(5, 0.1fr);
  }

}

@media screen and (min-width: 2000px) {

 

  .containerRecommended {
    grid-template-columns: repeat(6, 0.1fr);
  }

}