.navigation {
    display: flex;
    justify-content: space-around;
    background-color: #161D2F;
    height: 56px;
}

.navigation > * {
    align-self: center;
}

.menu {
    display: flex;
}

.menu button{
    margin: 0 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profilePic {
    display: flex;
    flex-direction: column;
}

.profilePic img {
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    margin: 5px;
}


@media screen and (min-width: 1000px) {
    .navigation {
        height: 960px;
        width: 96px;
        flex-direction: column;
        justify-content: unset;
        border-radius: 20px;
        margin: 32px 36px 0 32px;
    }

    .menu {
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
    }

    .logo {
        margin-top: 35.41px;
        margin-bottom: 75px;
    }

    .profilePic{
        margin-top: auto;
        margin-bottom: 32px;
    }

    .avatar {
        width: 40px;
        height: 40px;
    }
}
    
