.containerMovie, .containerSeries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.containerMedia {
  margin: 0 1rem;
}


.h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.312px;
    color: white;
    margin: 24px 16px;
  }

  @media screen and (min-width: 1000px) {
    .containerMedia {
        margin-left: 7rem;
    }
}

@media screen and (min-width: 1800px) {
    .containerMedia {
        margin-left: unset;
    }
}